<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="getNetwork()" >Tap me!</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item3" class="  ">{{type}}</ion-item>
            <ion-item id="page-list-item4" class="  ">{{isOnline}}</ion-item>
            <ion-item id="page-list-item5" class="  ">{{isOffline}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>