<ion-view title="Page 5" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page5-form1" class="list ">
            <label class="item item-input " id="page5-input1">
                <span class="input-label">Email</span>
                <input ng-model="email" type="email" placeholder="">
            </label>
            <label class="item item-input " id="page5-input2">
                <span class="input-label">Password</span>
                <input ng-model="password" type="password" placeholder="">
            </label>
        </form>
        <a ng-click="go(email, password)" class=" button button-positive  button-block ">Send</a>
    </ion-content>
</ion-view>